.input{
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    width: 22%;
}

.input:focus {
    border-color: lightblue;
    outline: 2px solid lightblue;
}

.button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    transition: 0.2s;
}

.green-button {
    color: white;
    background-color: green;
}

.green-button:hover {
    background-color: darkgreen;
}

.orange-button {
    color: black;
    background-color: orange;
}

.orange-button:hover {
    background-color: darkorange;
}

.blue-button {
    color: white;
    background-color: deepskyblue;
}

.blue-button:hover {
    background-color: blue;
}

.red-button {
    color: white;
    background-color: red;
}

.red-button:hover {
    background-color: darkred;
}

.error-block {
    display: none;
    background-color: red;
    color: white;
    padding: 15px;
    z-index: 1000;
    position: fixed;
    top: 65px;
    right: 20px;
    border-radius: 10px;
    max-width: 20%;
}

@media(max-width: 1200px) {
    .error-block {
        max-width: 35%;
    }

    .input {
        width: 30%;
    }
}

@media(max-width: 992px) {
    .error-block {
        max-width: 40%;
    }

    .input {
        width: 35%;
    }
}

@media(max-width: 768px) {
    .error-block {
        max-width: 50%;
        right: 10px;
    }

    .input {
        width: 40%;
    }
}

@media(max-width: 600px) {
    .error-block {
        max-width: 55%;
    }

    .input {
        width: 45%;
    }
}