tr {
    border: 1px solid black;
}

th {
    background-color: lightgray;
    padding: 3px;
}

td {
    padding: 3px;
}

.table-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}